.categories-list {
  clear: both;
}

.categories-list-item {
  background: $color-grey-light;
  border-radius: .5em;
  display: inline-block;
  margin-bottom: .5em;
  margin-right: .5em;
  padding: .2em .5em;
}
