.shard-intro {
  background-color: $color-grey-light;
  border-radius: .75em;
  margin: .75em auto;
  padding: 1.5em;
  width: 100%;
}

@media screen and (min-width: 56.3125em) {
  .shard-intro {
    width: 50%;
  }
}
