.shard-details {
}

.shard-popularity {
  background-color: $color-grey-light;
  border-radius: .5em;
  margin-right: .5em;
  padding: .2em .5em;
}

.shard-details-columns {
  align-items: flex-start;
  display: flex;
}

.shard-details-description {
  flex: 3;
}

.shard-details-description {
  padding: .75em .75em .75em 0;
}

.shard-details-metadata {
  background-color: $color-grey-light;
  flex: 1;
  padding: .75em;
}
